.x-input-component {
    display: block;
    position: relative;
   
    .x-input-label {
        font-weight: bold;
    }
    .x-input-field {
        border : none;
        border-radius: 10px;
        padding: 1rem;
        background-color: #fefefe;
        color: rgba(26, 26, 26, 0.87);
        width: 100%;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);    
    }
    .x-password {
        padding-right: 35px; 
    }
    .x-toggle-password {
        font-weight: bold;
        color: #730C07;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 14px;
      }
      
      .x-toggle-password:hover {
        text-decoration: underline;
      }
}